.tasto{
    width: 100px;
    height: 100px;
    border: solid 1px lightgray;
    border-radius: 50%;
}

.utente{
    background-image: url(/images/utenteLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.piatti{
    background-image: url(/images/piattoLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pulsanti{
    display: flex;
    justify-content: space-evenly;
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    padding-top: 2%;
    align-items: baseline;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-admin{
    background-color: #fbd09ebf;
    font-family: font-family: "Monserrat", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

.tabella{
    width: 70%; 
    margin: 2% auto;
    padding-bottom: 1.5%;
}

a{
    text-decoration: none;
}

.body-gestione-piatti{
    background-color: rgba(20, 117, 92, 0.432);
    font-family: "Monserrat", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

.body-tabella{
    background-color: aliceblue;
}

.left-bordo{
    border-top-left-radius: 5%;
}

.right-bordo{
    border-top-right-radius: 5%;
}

.form-field-piatto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
 
.sfondo-sezione-utenti{
    background-color: bisque;
    padding-bottom: 20px;
    padding-top: 2%;
}

.sfondo-sezione-ordini{
    background-color: burlywood;
    border-top: solid 1px black;
    padding-bottom: 80vh;
    padding-top: 2%;
}

.footer-admin{
    margin-top: 100%;
}
.footer-admin-piatti{
    margin-top: 5%;
}

.body-admin-utenti{
    font-family: "Monserrat", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
}

.body-admin-riservata{
    background-color: rgba(20, 117, 92, 0.432);
        font-family: font-family: "Monserrat", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
}

.container-form-piatto {
    background-color: #b1c3dc;
        margin: 0 auto;
        width: 40%;
        margin-top: 5%;
        padding-bottom: 2%;
        padding-top: 2%;
        border-radius: 10px;
        text-shadow: 50px 50px 100px black;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
