<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestione piatti</title>
</head>
<body>
    <a th:href="@{/riservataadmin}">Torna nella tua area Riservata</a>

    <table>
        <tr th:each="piatto : ${piatti}">
            <img th:text="${piatto.copertina}"> <!-- Da modificare con immagine -->
            <td th:text="${piatto.nome}"></td>
            <td th:text="${#numbers.formatDecimal(piatto.prezzo, 1, 'POINT', 2, 'COMMA')}"></td>
            <td th:text="${piatto.descrizione}"></td>
            <td th:text="${piatto.categoria}"></td>
            <td>
                <a th:href="@{/adminpiatti(id=${piatto.id})}">Modifica</a>
                <a th:href="@{/adminpiatti/elimina(id=${piatto.id})}">Elimina</a>
            </td>
        </tr>
    </table>

    <form action="/adminpiatti" method="post" enctype="multipart/form-data">
        <input type="text" name="nome" th:value="${piatto.nome}" placeholder="Nome del piatto" required> <!-- pattern="[a-z]{1,50}" si potrebbe mettere prima del required anche se non consigliato -->
        <p th:if="${errori != null && errori.containsKey('nome')}" th:text="${errori.get('nome')}"></p> <!-- reinderizza questo paragrafo se non ci sono errori e se la mappa errori contiene la chiave titolo -->
        <br>
        <input type="number" name="prezzo" step="any" th:value="${piatto.prezzo}" placeholder="Prezzo piatto" required>
        <p th:if="${errori != null && errori.containsKey('prezzo')}" th:text="${errori.get('prezzo')}"></p>
        <br>
        <input type="text" name="descrizione" th:value="${piatto.descrizione}" placeholder="descrizione del piatto" required> <!-- pattern="[a-z]{1,50}" si potrebbe mettere prima del required anche se non consigliato -->
        <p th:if="${errori != null && errori.containsKey('descrizione')}" th:text="${errori.get('descrizione')}"></p> <!-- reinderizza questo paragrafo se non ci sono errori e se la mappa errori contiene la chiave titolo -->
        <br>
        <input type="text" name="categoria" th:value="${piatto.categoria}" placeholder="categoria del piatto" required> <!-- pattern="[a-z]{1,50}" si potrebbe mettere prima del required anche se non consigliato -->
        <p th:if="${errori != null && errori.containsKey('categoria')}" th:text="${errori.get('categoria')}"></p> <!-- reinderizza questo paragrafo se non ci sono errori e se la mappa errori contiene la chiave titolo -->
        <br>
        <input type="file" name="copertina">
        <br>
        <input type="submit" value="Registra Piatto">
    </form>
</body>
</html>