<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestione Utenti e ordini</title>
</head>
<body>
    <a th:href="@{/riservataadmin}">Torna nella tua area Riservata</a>

    <table>
        <tr th:each="utente : ${utenti}">
            <td th:text="${utente.nome}"></td>
            <td th:text="${utente.cognome}"></td>
            <td th:text="${utente.username}"></td>
            <td th:text="${utente.numeroCarta}"></td>
            <td th:text="${utente.dataDiNascita}"></td>
        </tr>
    </table>

    <table>
        <tr th:each="ordine : ${ordini}">
            <td th:text="${ordine.dataOraOrdine}"></td>
            <td th:text="${ordine.dataOraRitiro}"></td>
            <td th:text="${#numbers.formatDecimal(ordine.importo, 1, 'POINT', 2, 'COMMA')} + '€'"></td>
            <td th:text="${ordine.utente.nome} + ' ' + ${ordine.utente.cognome}"></td>
        </tr>
    </table>

</body>
</html>