<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div>
        <a th:href="@{/loginadmin}">Login Admin</a>
        <a th:href="@{/loginutente}">Login Utente</a>
        <a th:href="@{/registrazioneutente}">Registrazione Utente</a>
    </div>

    <h3>Filtri</h3>
    <div>
        <a th:href="@{/categoria(categoria=${'primi'})}">Primi</a>
        <a th:href="@{/categoria(categoria=${'antipasti'})}">Antipasti</a>
        <a th:href="@{/categoria(categoria=${'secondi'})}">Secondi</a>
        <a th:href="@{/categoria(categoria=${'contorni'})}">Contorni</a>
        <a th:href="@{/categoria(categoria=${'dolci'})}">Dolci</a>
        <a th:href="@{/categoria(categoria=${'bevande'})}">Bevende</a>
    </div>

    <table>
        <tr th:each="piatto : ${piattiPerCategoria}">
            <img th:text="${piatto.copertina}"> <!-- Da modificare con immagine -->
            <td th:text="${piatto.nome}"></td>
            <td th:text="${#numbers.formatDecimal(piatto.prezzo, 1, 'POINT', 2, 'COMMA')}"></td>
            <td>
                <a th:href="@{/dettaglio(id=${piatto.id})}">Dettaglio</a>
            </td>
        </tr>
    </table>

    <div th:if="${piattiPerCategoria == null || piattiPerCategoria.isEmpty()}">
        <h2>Catalogo piatti</h2>
        <table>
            <tr th:each="piatto : ${piatti}">
                <img th:text="${piatto.copertina}"> <!-- Da modificare con immagine -->
                <td th:text="${piatto.nome}"></td>
                <td th:text="${#numbers.formatDecimal(piatto.prezzo, 1, 'POINT', 2, 'COMMA')}"></td>
                <td>
                    <a th:href="@{/dettaglio(id=${piatto.id})}">Dettaglio</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>