<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione Utente</title>
</head>
<body>
    <form th:object="${utente}" method="post">
        <input type="text" th:field="*{nome}" placeholder="inserire nome" required>
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        <br>
        <input type="text" th:field="*{cognome}" placeholder="inserire cognome" required>
        <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
        <br>
        <input type="text" th:field="*{username}" placeholder="scegli username" required>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <p th:if="${duplicato}" th:text="${duplicato}"></p>
        <br>
        <input type="password" th:field="*{password}" placeholder="scegli password" required>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <br>
        <input type="file" th:field="*{immagine}" placeholder="scegli immagine">
        <p th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></p>
        <br>
        <input type="text" th:field="*{numeroCarta}" placeholder="scegli numero di carta">
        <p th:if="${#fields.hasErrors('numeroCarta')}" th:errors="*{numeroCarta}"></p>
        <br>
        <input type="date" th:field="*{dataDiNascita}" placeholder="scegli data di nascita">
        <p th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></p>
        <br>
        <input type="submit" value="Registrati">
    </form>
</body>
</html>